
<!DOCTYPE html>
<html>
		<link rel="icon" 
      type="image/ico" 
      href="https://sjurl.tk/static/images/favicon.ico">
	<style>
		a {
			color: #7289da !important;
		}
		button {
			color: #7289da !important;
		}
		body {
			padding-top: 25px;
			padding-left: 15px;
			padding-right: 15px;
		}
	</style>
	<style>
		html {
			margin-top: 110px;
		}
		</style>
	<head>
	<head>
		<link rel="stylesheet" href="https://minimalist.coolcodersj.repl.co/style.css">
		<title>URL Shortener</title>
	</head>

	<body>
				<div class="topnav text">
		<a class="brand" href="#">SJURL</a>
		<div class="topnavitem">
		 <a class="topnavitem" href="/">Home</a>
  <a class="topnavitem" href="/add">Add Link</a>
    <a class="topnavitem" href="/login">Login</a>
  <a class="topnavitem" href="/signup">Signup</a>
 
  </div>
  </div>
  <h4 class="alert">Uh oh! This URL already exists.</h4>
<button type="button" class="form-control" onclick="window.open('https://sjurl.repl.co')">Go home</button>
	</body>
</html>