$def with (token)

<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">  
  <link rel="shortcut icon" href="https://sjurl.tk/static/images/favicon.svg" type="image/x-icon">  
  <link rel="stylesheet" href="https://kit-pro.fontawesome.com/releases/v5.12.1/css/pro.min.css">
  <link rel="stylesheet" type="text/css" href="/static/css/new.css?yeetcache">  
  <title>SJURL</title>
</head>
<body class="bg-gray-800">



<!-- start navbar -->
<div class="dark:border-gray-800 dark:fixed dark:w-full dark:top-0 dark:z-20 flex flex-row flex-wrap items-center p-6 bg-gray-800" style="margin-left: 250px;"> 
    
    <!-- navbar content toggle -->
    <button id="navbarToggle" class="hidden dark:block dark:fixed right-0 mr-6">
      <i class="fad fa-chevron-double-down"></i>
    </button>
    <!-- end navbar content toggle -->

    <!-- navbar content -->
    <div id="navbar" class="animated dark:hidden dark:fixed dark:top-0 dark:w-full dark:left-0 dark:mt-16 dark:p-10 bg-gray-800 flex-1 pl-3 flex flex-row flex-wrap justify-between items-center dark:flex-col dark:items-center">
    </div>
    <!-- end navbar content -->

  </div>
<!-- end navbar -->


<!-- strat wrapper -->
<div class="h-screen flex flex-row flex-wrap">
  
    <!-- start sidebar -->
  <div id="sideBar" class="relative flex flex-col flex-wrap p-6 flex-none w-64 dark:-ml-64 dark:fixed dark:top-0 dark:z-30 dark:h-screen dark:shadow-xl animated faster" style="top: 0; bottom: 0; position: fixed; background: #262f3c;">
    

    <!-- sidebar content -->
    <div class="flex flex-col">

      <!-- sidebar toggle -->
      <div class="text-right hidden dark:block mb-4">
        <button id="sideBarHideBtn">
          <i class="fad fa-times-circle"></i>
        </button>
      </div>
      <!-- end sidebar toggle -->
	  <!-- logo -->
    <div class="flex-none w-56 flex flex-row items-center">
      <img src="https://sjurl.tk/static/images/favicon.svg" class="w-10 flex-none">
      <strong class="capitalize ml-1 flex-1 text-white">SJURL</strong>

      <button id="sliderBtn" class="flex-none text-right text-gray-900 hidden dark:block">
        <i class="fad fa-list-ul"></i>
      </button>
    </div>
    <!-- end logo -->  
      <!-- link -->
      <a href="/" class="mb-3 capitalize text-white font-medium text-sm hover:text-teal-600 transition ease-in-out duration-500" style="margin-top: 30px;">
        Home
      </a>
      <!-- end link -->
	  <!-- link -->
      <a href="/add" class="mb-3 capitalize text-white font-medium text-sm hover:text-teal-600 transition ease-in-out duration-500">
        add link
      </a>
      <!-- end link -->

      <!-- link -->
      <a href="/login" class="mb-3 capitalize text-white font-medium text-sm hover:text-teal-600 transition ease-in-out duration-500">
        Login
      </a>
      <!-- end link -->

      <!-- link -->
      <a href="/signup" class="mb-3 capitalize text-white font-medium text-sm hover:text-teal-600 transition ease-in-out duration-500">
        Signup
      </a>
      <!-- end link -->
	  <!-- link -->
      <a href="/bookmarklet" class="mb-3 capitalize text-white font-medium text-sm hover:text-teal-600 transition ease-in-out duration-500">
        Bookmarklet
      </a>
      <!-- end link -->
    </div>
    <!-- end sidebar content -->

  </div>
  <!-- end sidbar -->

  <!-- strat content -->
  <div class="bg-gray-900 flex-1 p-6 dark:mt-16" style="margin-left: 250px;"> 

<div class="w-full max-w-xs" style="text-transform: none !important;">
  
<div class="report-card">
	<div class="card bg-blue-700">
		<div class="card-body flex flex-col">
			
			<!-- top -->
			<div class="flex flex-row justify-between items-center">
				<div class="h6 text-white fas fa-link"></div>
			</div>
			<!-- end top -->

			<!-- bottom -->
			<div class="mt-8" style="word-wrap: break-word;">
				<h1 class="h5 num-4 text-white">Auth Token</h1>
				<p class="text-white" style="word-wrap: break-word; text-transform: none !important">$token</p>
			</div>                
			<!-- end bottom -->

		</div>
	</div>
	<div class="footer bg-blue-800 p-1 mx-4 rounded rounded-t-none"></div>
</div>

<div class="report-card">
	<div class="card bg-blue-700">
		<div class="card-body flex flex-col">
			
			<!-- top -->
			<div class="flex flex-row justify-between items-center">
				<div class="h6 text-white fas fa-link"></div>
			</div>
			<!-- end top -->

			<!-- bottom -->
			<div class="mt-8">
				<h1 class="h5 num-4 text-white">Bookmarklet</h1>
				<p class="text-white" style="text-transform: none !important;">SJURL has a bookmarklet that you can use! Simply drag this link -> <a href="javascript:(function(){let Start = async() => {let url = window.location.href;let short = prompt('Enter the shortened backend that you want (Click OK while leaving the prompt blank to auto generate) - ');if (confirm('Shorten URL: '+url+'\n\nBackend: '+short+'\n')) {let data = await fetch('https://sjurl.tk/bookmarklet?auth=$token&short='+short+'&url='+url);let resp = await data.text();if (resp != 'INDB'){alert('Successfully shortened at '+resp)};if(resp === 'INDB') {alert('Backend Already Exists')}}};Start()})();" style="color: #7289da;">Shorten URL</a> to your bookmarks to add it. When you're on a site, you can click the bookmarklet to instantly shorten the URL of the current page.</p>
			</div>                
			<!-- end bottom -->

		</div>
	</div>
	<div class="footer bg-blue-800 p-1 mx-4 rounded rounded-t-none"></div>
</div>

</div>
</div>
</div>
<!-- end wrapper -->

<!-- script -->
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script src="static/js/new.js"></script>
<!-- end script -->

</body>
</html>
