<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crinkle</title>
    
    <link rel="stylesheet" href="/static/assets/css/main/app.css">
    <link rel="stylesheet" href="/static/assets/css/main/app-dark.css">
    <link rel="shortcut icon" href="/static/assets/images/logo/favicon.svg" type="image/x-icon">
    <link rel="shortcut icon" href="/static/assets/images/logo/favicon.png" type="image/png">
    <link rel="stylesheet" href="/static/assets/css/shared/iconly.css">
    <link rel="stylesheet" href="/static/user.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet">

    <script src="/static/assets/js/bootstrap.js"></script>
    <!-- Need: Apexcharts -->
    <script src="/static/assets/extensions/apexcharts/apexcharts.min.js"></script>
    <script src="/static/assets/js/pages/dashboard.js"></script>
    <script src="/static/user.js"></script>
    <script src="https://cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.3.3/dist/chart.umd.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-chart-geo@4.2.4/build/index.umd.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <style>
        .card {
            height: 93% !important;
        }
        .pointer {
            cursor: pointer;
        }

        .notactive { 
            color: lightblue;
        }
        .hidden {
            display: none;
        }

        td p {
            width: 400px;
        }
    </style>
</head>

<body>
    <div id="app">
        <div id="sidebar" class="active">
            <div class="sidebar-wrapper active">
    <div class="sidebar-header position-relative">
        <div class="d-flex justify-content-between align-items-center">
            <div class="logo">
                <a href="index.html"><img src="/static/assets/images/logo/logo.svg" alt="Logo" srcset=""></a>
            </div>
            <div class="theme-toggle d-flex gap-2  align-items-center mt-2">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--system-uicons" width="20" height="20" preserveAspectRatio="xMidYMid meet" viewBox="0 0 21 21"><g fill="none" fill-rule="evenodd" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"><path d="M10.5 14.5c2.219 0 4-1.763 4-3.982a4.003 4.003 0 0 0-4-4.018c-2.219 0-4 1.781-4 4c0 2.219 1.781 4 4 4zM4.136 4.136L5.55 5.55m9.9 9.9l1.414 1.414M1.5 10.5h2m14 0h2M4.135 16.863L5.55 15.45m9.899-9.9l1.414-1.415M10.5 19.5v-2m0-14v-2" opacity=".3"></path><g transform="translate(-210 -1)"><path d="M220.5 2.5v2m6.5.5l-1.5 1.5"></path><circle cx="220.5" cy="11.5" r="4"></circle><path d="m214 5l1.5 1.5m5 14v-2m6.5-.5l-1.5-1.5M214 18l1.5-1.5m-4-5h2m14 0h2"></path></g></g></svg>
                <div class="form-check form-switch fs-6">
                    <input class="form-check-input  me-0" type="checkbox" id="toggle-dark" >
                    <label class="form-check-label" ></label>
                </div>
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--mdi" width="20" height="20" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path fill="currentColor" d="m17.75 4.09l-2.53 1.94l.91 3.06l-2.63-1.81l-2.63 1.81l.91-3.06l-2.53-1.94L12.44 4l1.06-3l1.06 3l3.19.09m3.5 6.91l-1.64 1.25l.59 1.98l-1.7-1.17l-1.7 1.17l.59-1.98L15.75 11l2.06-.05L18.5 9l.69 1.95l2.06.05m-2.28 4.95c.83-.08 1.72 1.1 1.19 1.85c-.32.45-.66.87-1.08 1.27C15.17 23 8.84 23 4.94 19.07c-3.91-3.9-3.91-10.24 0-14.14c.4-.4.82-.76 1.27-1.08c.75-.53 1.93.36 1.85 1.19c-.27 2.86.69 5.83 2.89 8.02a9.96 9.96 0 0 0 8.02 2.89m-1.64 2.02a12.08 12.08 0 0 1-7.8-3.47c-2.17-2.19-3.33-5-3.49-7.82c-2.81 3.14-2.7 7.96.31 10.98c3.02 3.01 7.84 3.12 10.98.31Z"></path></svg>
            </div>
            <div class="sidebar-toggler  x">
                <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
            </div>
        </div>
    </div>
    <div class="sidebar-menu">
        <ul class="menu">            
            <li class="sidebar-item ">
                <a href="/" class="sidebar-link"><i class="bi bi-house"></i> <span>Home</span></a>
            </li>
            <li class="sidebar-item ">
                <a href="/logout" class="sidebar-link"><i class="bi bi-box-arrow-left"></i> <span>Logout</span></a>
            </li>

        </ul>
    </div>
</div>
        </div>
        <div id="main">
            <header class="mb-3">
                <a href="#" class="burger-btn d-block d-xl-none">
                    <i class="bi bi-justify fs-3"></i>
                </a>
            </header>
            
<div class="page-heading">
    <h3>Link Statistics</h3>
</div>
<p class="font-bold ms-3 mb-0"><a href="https://{{ domain }}/{{slug}}">{{ domain }}/{{slug}}</a> <i class="fa-solid fa-copy" style="cursor: pointer" onclick="copylink(`https://{{ domain }}/{{ slug }}`);"></i></p>
<style>.colored-toast.swal2-icon-success {
    background-color: #a5dc86 !important;
  }
  
  .colored-toast.swal2-icon-error {
    background-color: #f27474 !important;
  }
  
  .colored-toast.swal2-icon-warning {
    background-color: #f8bb86 !important;
  }
  
  .colored-toast.swal2-icon-info {
    background-color: #3fc3ee !important;
  }
  
  .colored-toast.swal2-icon-question {
    background-color: #87adbd !important;
  }
  
  .colored-toast .swal2-title {
    color: white;
  }
  
  .colored-toast .swal2-close {
    color: white;
  }
  
  .colored-toast .swal2-html-container {
    color: white;
  }</style>
<script>
    function copylink (url) {
        navigator.clipboard.writeText(url);
        const Toast = Swal.mixin({
        toast: true,
        position: 'top-right',
        iconColor: 'white',
        customClass: {
            popup: 'colored-toast'
        },
        showConfirmButton: false,
        timer: 1500,
        timerProgressBar: true
        })
        Toast.fire({
        icon: 'success',
        title: 'Copied to clipboard'
        })
    }
</script>
<br><br>
<div class="page-content">
    <section class="row">
        <div>
            <div class="row">
                <div class="col-6 col-lg-3 col-md-6">
                    <div class="card" style="height: auto !important;">
                        <div class="card-body px-4 py-4-5">
                            <div class="row">
                                <div class="col-md-4 col-lg-12 col-xl-12 col-xxl-5 d-flex justify-content-start ">
                                    <div class="stats-icon purple mb-2">
                                        <i class="iconly-boldShow"></i>
                                    </div>
                                </div>
                                <div class="col-md-8 col-lg-12 col-xl-12 col-xxl-7">
                                    <h6 class="text-muted font-semibold">Link Clicks</h6>
                                    <h6 class="font-extrabold mb-0">{{ data['clicks'] }}</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-lg-3 col-md-6">
                    <div class="card" style="height: auto !important;">
                        <div class="card-body px-4 py-4-5">
                            <div class="row">
                                <div class="col-md-4 col-lg-12 col-xl-12 col-xxl-5 d-flex justify-content-start ">
                                    <div class="stats-icon purple mb-2">
                                        <i class="bi bi-qr-code" style="margin-bottom: 25px; margin-right: 10px;"></i>
                                    </div>
                                </div>
                                <div class="col-md-8 col-lg-12 col-xl-12 col-xxl-7">
                                    <h6 class="text-muted font-semibold">QR Code</h6>
                                    <a style="cursor: pointer;" class="text-blue font-bold" data-bs-toggle="modal" data-bs-target="#qr_modal">
                                        Show QR Code
                                    </a>
                                </div>

                                <div class="modal fade text-left" id="qr_modal" tabindex="-1" role="dialog"
                                    aria-labelledby="myModalLabel1" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-scrollable" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="myModalLabel1">QR Code</h5>
                                                <button type="button" class="close rounded-pill" data-bs-dismiss="modal"
                                                    aria-label="Close">
                                                    <i data-feather="x"></i>
                                                </button>
                                            </div>
                                            <div class="modal-body" style="display: flex; width: 100%; justify-content: center;">
                                                <div id="qrcode"></div>
                                                <script type="text/javascript">
                                                new QRCode(document.getElementById("qrcode"), window.location.href.replace("/dashboard", ""));
                                                </script>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn" data-bs-dismiss="modal">
                                                    <i class="bx bx-x d-block d-sm-none"></i>
                                                    <span class="d-none d-sm-block">Close</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-lg-3 col-md-6">
                    <div class="card" style="height: auto !important; cursor: pointer;" data-bs-toggle="modal" data-bs-target="#edit_modal">
                        <div class="card-body px-4 py-4-5">
                            <div class="row">
                                <div class="col-md-4 col-lg-12 col-xl-12 col-xxl-5 d-flex justify-content-start ">
                                    <div class="stats-icon purple mb-2">
                                        <i class="bi bi-pencil" style="margin-bottom: 25px; margin-right: 10px;"></i>
                                    </div>
                                </div>
                                <div class="col-md-8 col-lg-12 col-xl-12 col-xxl-7" style="display: flex; align-items: center;">
                                    <h6 class="font-semibold h4">Edit</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade text-left" id="edit_modal" tabindex="-1" role="dialog" aria-modal="true">
                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h4 class="modal-title" id="myModalLabel33">
                                Edit Link
                              </h4>
                              <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
                              </button>
                            </div>
                            <form method="post" action="/edit" data-bitwarden-watching="1">
                              <div class="modal-body">
                                <label for="email">URL: </label>
                                <div class="form-group">
                                  <input type="url" name="url" placeholder="URL" value="{{ url }}" required class="form-control">
                                </div>
                                <label for="password">Slug: </label>
                                <div class="form-group">
                                  <input type="text" name="new_shortkey" placeholder="Slug" value="{{ slug }}" class="form-control">
                                  <input type="hidden" name="old_shortkey" value="{{ slug }}">
                                </div>

                                <label for="password">Password: </label>
                                <div class="form-group">
                                  <input type="password" name="password" placeholder="Password" class="form-control">
                                </div>

                                <label for="password">Domain: </label>
                                <p>Domains are experimental. Set a <code>CNAME</code> record on your domain pointing to <code>url.shuchir.dev.</code> as well as a <code>TXT</code> record with the value <code>crinkle-(insert_username_here)</code> (Make sure to replace (insert_username_here) with your username). Then, <a class="font-bold" href="//shuchir.dev" target="_blank">contact me</a> to activate your domain.</p>
                                <div class="form-group">
                                  <input type="text" name="domain" placeholder="Domain" value="{{ domain }}" class="form-control">
                                </div>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn" data-bs-dismiss="modal">
                                  <i class="bx bx-x d-block d-sm-none"></i>
                                  <span class="d-none d-sm-block">Close</span>
                                </button>
                                <button type="submit" class="btn btn-primary ms-1" data-bs-dismiss="modal">
                                  <i class="bx bx-check d-block d-sm-none"></i>
                                  <span class="d-none d-sm-block">Save</span>
                                </button>
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>
                </div>
                <div class="col-6 col-lg-3 col-md-6">
                    <div class="card" style="height: auto !important; cursor: pointer;" data-bs-toggle="modal" data-bs-target="#delete_modal">
                        <div class="card-body px-4 py-4-5">
                            <div class="row">
                                <div class="col-md-4 col-lg-12 col-xl-12 col-xxl-5 d-flex justify-content-start ">
                                    <div class="stats-icon purple mb-2">
                                        <i class="bi bi-trash" style="margin-bottom: 25px; margin-right: 10px;"></i>
                                    </div>
                                </div>
                                <div class="col-md-8 col-lg-12 col-xl-12 col-xxl-7" style="display: flex; align-items: center;">
                                    <h6 class="font-semibold h4">Delete</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade text-left" id="delete_modal" tabindex="-1" role="dialog" aria-modal="true">
                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h4 class="modal-title" id="myModalLabel33">
                                Delete Link
                              </h4>
                              <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
                              </button>
                            </div>
                            <form method="post" action="/delete">
                              <div class="modal-body">
                                <p>Are you sure you want to delete? This action is irreversible.</p>
                                <div class="form-group">
                                  <input type="hidden" name="shortkey" value="{{ slug }}">
                                </div>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn" data-bs-dismiss="modal">
                                  <i class="bx bx-x d-block d-sm-none"></i>
                                  <span class="d-none d-sm-block">Cancel</span>
                                </button>
                                <button type="submit" class="btn btn-danger ms-1" data-bs-dismiss="modal">
                                  <i class="bx bx-check d-block d-sm-none"></i>
                                  <span class="d-none d-sm-block">Delete</span>
                                </button>
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4>All Time Clicks (by day)</h4>
                        </div>
                        <div class="card-body">
                            <div id="chart-link-visits"></div>
                        </div>
                        <script>
                            new ApexCharts(document.querySelector("#chart-link-visits"), {
                            annotations: {
                                position: 'back'
                            },
                            dataLabels: {
                                enabled:false
                            },
                            chart: {
                                type: 'bar',
                                height: 300
                            },
                            fill: {
                                opacity:1
                            },
                            plotOptions: {
                            },
                            series: [{
                                name: 'clicks',
                                data: JSON.parse("{{ data['time_values'] }}")
                            }],
                            colors: '#435ebe',
                            xaxis: {
                                categories: JSON.parse("{{ data['time_keys'] }}".replaceAll("&#39;", '"')),
                            },
                        }).render()
                        </script>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-lg-6 col-xl-6">
                    <div class="card mt-4">
                        <div class="card-header">
                            <h4>Referrers</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-hover table-lg">
                                    <thead>
                                        <tr>
                                            <th>Referrer</th>
                                            <th>Visits</th>
                                        </tr>
                                    </thead>
                                    <tbody style="width:fit-content">
                                        {% for referrer, value in data['referrer'].items() %}
                                        <tr>
                                            <td class="col-3">
                                                <p class="font-bold mb-0">{{ referrer }}</p>
                                            </td>
                                            <td class="col-auto">
                                                <p class=" mb-0 url">{{ value }}</p>
                                            </td>
                                        </tr>
                                        {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-xl-6 col-lg-6">
                    <div class="card mt-4">
                        <div class="card-header">
                            <h4>Browsers</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-hover table-lg">
                                    <thead>
                                        <tr>
                                            <th>Browser</th>
                                            <th>Visits</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for browser, value in data['browser'].items() %}
                                        <tr>
                                            <td class="col-3">
                                                <div class="d-flex align-items-center">
                                                    <p class="font-bold mb-0" style="display: flex; align-items: center; gap: 10px;">{{ iconmap[browser] | safe }} {{ browser }}</p>
                                                </div>
                                            </td>
                                            <td class="col-auto">
                                                <p class=" mb-0 url">{{ value }}</p>
                                            </td>
                                        </tr>
                                        {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-xl-6 col-lg-6">
                    <div class="card mt-4">
                        <div class="card-header">
                            <h4>Devices</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-hover table-lg">
                                    <thead>
                                        <tr>
                                            <th>Device</th>
                                            <th>Visits</th>
                                        </tr>
                                    </thead>
                                    <tbody style="width:fit-content">
                                        {% for device, value in data['device'].items() %}
                                        <tr>
                                            <td class="col-3">
                                                <p class="font-bold mb-0">{{ device }}</p>
                                            </td>
                                            <td class="col-auto">
                                                <p class=" mb-0 url">{{ value }}</p>
                                            </td>
                                        </tr>
                                        {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-xl-6 col-lg-6">
                    <div class="card mt-4">
                        <div class="card-header">
                            <h4>OS</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-hover table-lg">
                                    <thead>
                                        <tr>
                                            <th>OS</th>
                                            <th>Visits</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for os, value in data['os'].items() %}
                                        <tr>
                                            <td class="col-3">
                                                <div class="d-flex align-items-center">
                                                    <p class="font-bold mb-0" style="display: flex; align-items: center; gap: 10px;">{{ iconmap[os] | safe }} {{ os }}</p>
                                                </div>
                                            </td>
                                            <td class="col-auto">
                                                <p class=" mb-0 url">{{ value }}</p>
                                            </td>
                                        </tr>
                                        {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-xl-6 col-lg-6">
                    <div class="card mt-4">
                        <div class="card-header">
                            <h4>Location</h4>
                        </div>
                        <div class="card-body">
                            <canvas id="countrymap"></canvas>
                            <script>
                                fetch('https://unpkg.com/world-atlas/countries-50m.json').then((r) => r.json()).then((data) => {
                                    const countries = ChartGeo.topojson.feature(data, data.objects.countries).features;

                                let countrymap = countries.map((d) => ({feature: d, value: 0}))
                                Object.keys(JSON.parse("{{ data['country'] }}".replaceAll("&#39;", '"'))).forEach((d) => {
                                    countrymap = countrymap.map((e) => {
                                        if (e.feature.properties.name.startsWith(d)) {
                                            e.value = JSON.parse("{{ data['country'] }}".replaceAll("&#39;", '"'))[d]
                                        }
                                        return e
                                    })
                                })
                                const chart = new Chart(document.getElementById("countrymap").getContext("2d"), {
                                    type: 'choropleth',
                                    data: {
                                    labels: countries.map((d) => d.properties.name),
                                    datasets: [{
                                        label: 'Countries',
                                        data: countrymap,
                                    }]
                                    },
                                    options: {
                                    showOutline: true,
                                    showGraticule: true,
                                    plugins: {
                                        legend: {
                                        display: false
                                        },
                                    },
                                    scales: {
                                        projection: {
                                        axis: 'x',
                                        projection: 'equalEarth'
                                        }
                                    }
                                    }
                                });
                                });
                            </script>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-xl-6 col-lg-6">
                    <div class="card mt-4">
                        <div class="card-header">
                            <h4>Location</h4>
                        </div>
                        <div class="card-body">
                            <div style="display: flex; width: 100%; justify-content: space-around">
                                <script>
                                    const show = (format) => {
                                        let formats = ["countries", "regions", "cities"]
                                        document.getElementById(`${format}_table`).classList.remove("hidden")
                                        document.getElementById(`${format}_link`).classList.remove("notactive")
                                        formats.filter((e) => e != format).forEach((e) => {
                                            document.getElementById(`${e}_table`).classList.add("hidden")
                                            document.getElementById(`${e}_link`).classList.add("notactive")
                                        })
                                    }
                                </script>
                                <a id="countries_link" class="pointer" onclick="show('countries')">Countries</a>
                                <a id="regions_link" class="pointer notactive" onclick="show('regions')">Regions</a>
                                <a id="cities_link" class="pointer notactive" onclick="show('cities')">Cities</a>
                            </div>
                            <div id="countries_table">
                                <div class="table-responsive">
                                    <table class="table table-hover table-lg">
                                        <thead>
                                            <tr>
                                                <th>Country</th>
                                                <th>Visits</th>
                                            </tr>
                                        </thead>
                                        <tbody style="width:fit-content">
                                            {% for country, value in data['country'].items() %}
                                            <tr>
                                                <td class="col-6">
                                                    <p class="font-bold mb-0" style="display: flex; align-items: center; gap: 5px;"><img id="flag_{{country}}" style="height: 15px;"> {{ country }}</p>
                                                    <script>document.getElementById("flag_{{country}}").setAttribute("src", `https://flagicons.lipis.dev/flags/4x3/${window.countries.find(d => d.name.startsWith("{{country}}"))['code'].toLowerCase()}.svg`)</script>
                                                </td>
                                                <td class="col-6">
                                                    <p class=" mb-0 url">{{ value }}</p>
                                                </td>
                                            </tr>
                                            {% endfor %}
    
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div id="regions_table" class="hidden">
                                <div class="table-responsive">
                                    <table class="table table-hover table-lg">
                                        <thead>
                                            <tr>
                                                <th>Region</th>
                                                <th>Visits</th>
                                            </tr>
                                        </thead>
                                        <tbody style="width:fit-content">
                                            {% for state, value in data['state'].items() %}
                                            <tr>
                                                <td class="col-6">
                                                    <p class="font-bold mb-0" style="display: flex; align-items: center; gap: 5px;"><img id="flag_{{state}}" style="height: 15px;"> {{ state }}</p>
                                                    <script>document.getElementById("flag_{{state}}").setAttribute("src", `https://flagicons.lipis.dev/flags/4x3/${window.countries.find(d => d.name.startsWith("{{state}}".split(", ")[1]))['code'].toLowerCase()}.svg`)</script>
                                                </td>
                                                <td class="col-6">
                                                    <p class=" mb-0 url">{{ value }}</p>
                                                </td>
                                            </tr>
                                            {% endfor %}
    
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div id="cities_table" class="hidden">
                                <div class="table-responsive">
                                    <table class="table table-hover table-lg">
                                        <thead>
                                            <tr>
                                                <th>City</th>
                                                <th>Visits</th>
                                            </tr>
                                        </thead>
                                        <tbody style="width:fit-content">
                                            {% for city, value in data['city'].items() %}
                                            <tr>
                                                <td class="col-3">
                                                    <p class="font-bold mb-0" style="display: flex; align-items: center; gap: 5px;"><img id="flag_{{city}}" style="height: 15px;"> {{ city }}</p>
                                                    <script>document.getElementById("flag_{{city}}").setAttribute("src", `https://flagicons.lipis.dev/flags/4x3/${window.countries.find(d => d.name.startsWith("{{city}}".split(", ")[2]))['code'].toLowerCase()}.svg`)</script>
                                                </td>
                                                <td class="col-auto">
                                                    <p class=" mb-0 url">{{ value }}</p>
                                                </td>
                                            </tr>
                                            {% endfor %}
    
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

            <footer>
                <div class="footer clearfix mb-0 text-muted">
                    <div class="float-start">
                        <p>Design &copy; Mazer - 2021</p>
                    </div>
                    <div class="float-end">
                        <p>Crinkle &copy; Shuchir Jain - 2023</p>
                    </div>
                </div>
            </footer>
        </div>
    </div>

</body>
<script src="/static/assets/js/app.js"></script>
<style>
    table, td, tr, th, thead, tbody, .card-body, .card-header, .card, .table-responsive, .table-lg, .table-hover, .table {
        overflow: hidden !important;
    }
</style>
</html>
