$def with (agent, clicks, dev, s, x, y, url, webhookurl, qrcodeurl, user, name)
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">  
  <link rel="shortcut icon" href="https://sjurl.tk/static/images/favicon.svg" type="image/x-icon">  
  <link rel="stylesheet" href="https://kit-pro.fontawesome.com/releases/v5.12.1/css/pro.min.css">
  <link rel="stylesheet" type="text/css" href="https://sjurl.tk/static/css/new.css?yeetcachev4">  
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <title>SJURL</title>
</head>
<body class="bg-gray-800">


<!-- start navbar -->
<div class="dark:border-gray-800 dark:fixed dark:w-full dark:top-0 dark:z-20 flex flex-row flex-wrap items-center p-6 bg-gray-800" style="margin-left: 250px;"> 
    
    <!-- navbar content toggle -->
    <button id="navbarToggle" class="hidden dark:block dark:fixed right-0 mr-6">
      <i class="fad fa-chevron-double-down"></i>
    </button>
    <!-- end navbar content toggle -->

    <!-- navbar content -->
    <div id="navbar" class="animated dark:hidden dark:fixed dark:top-0 dark:w-full dark:left-0 dark:mt-16 dark:p-10 bg-gray-800 flex-1 pl-3 flex flex-row flex-wrap justify-between items-center dark:flex-col dark:items-center">     

      <!-- right -->
      <div class="flex flex-row-reverse items-center bg-gray-800"> 

        <!-- user -->
        <div class="dropdown relative dark:static">

          <button class="menu-btn focus:outline-none focus:shadow-outline flex flex-wrap items-center">
            <div class="w-8 h-8 overflow-hidden rounded-full">
            </div> 

            <div class="ml-2 capitalize flex ">
              <h1 class="text-sm text-white font-semibold m-0 p-0 leading-none">$user</h1>
              <i class="fad fa-chevron-down ml-2 text-xs leading-none text-white"></i>
            </div>                        
          </button>

          <button class="hidden fixed top-0 left-0 z-10 w-full h-full menu-overflow"></button>

          <div class="text-gray-500 menu hidden dark:mt-10 dark:w-full rounded bg-white shadow-dark absolute z-20 right-0 w-40 mt-5 py-2 animated faster">

            <!-- item -->
            <a class="px-4 py-2 block capitalize font-medium text-sm tracking-wide bg-white hover:bg-gray-200 hover:text-gray-900 transition-all duration-300 ease-in-out" href="/logout">
              <i class="fad fa-user-times text-xs mr-1 text-white"></i> 
              log out
            </a>     
            <!-- end item -->

          </div>
        </div>
        <!-- end user -->

      </div>
      <!-- end right -->
    </div>
    <!-- end navbar content -->

  </div>
<!-- end navbar -->


<!-- strat wrapper -->
<div class="h-screen flex flex-row flex-wrap">
  
    <!-- start sidebar -->
  <div id="sideBar" class="relative flex flex-col flex-wrap p-6 flex-none w-64 dark:-ml-64 dark:fixed dark:top-0 dark:z-30 dark:h-screen dark:shadow-xl animated faster" style="top: 0; bottom: 0; position: fixed; background: #262f3c;">
    

    <!-- sidebar content -->
    <div class="flex flex-col">

      <!-- sidebar toggle -->
      <div class="text-right hidden dark:block mb-4">
        <button id="sideBarHideBtn">
          <i class="fad fa-times-circle"></i>
        </button>
      </div>
      <!-- end sidebar toggle -->
	  <!-- logo -->
    <div class="flex-none w-56 flex flex-row items-center">
      <img src="https://sjurl.tk/static/images/favicon.svg" class="w-10 flex-none">
      <strong class="capitalize ml-1 flex-1 text-white">SJURL</strong>

      <button id="sliderBtn" class="flex-none text-right text-gray-900 hidden dark:block">
        <i class="fad fa-list-ul"></i>
      </button>
    </div>
    <!-- end logo -->  
      <!-- link -->
      <a href="/" class="mb-3 capitalize text-white font-medium text-sm hover:text-teal-600 transition ease-in-out duration-500" style="margin-top: 30px;">
        Home
      </a>
      <!-- end link -->
	  <!-- link -->
      <a href="/add" class="mb-3 capitalize text-white font-medium text-sm hover:text-teal-600 transition ease-in-out duration-500">
        add link
      </a>
      <!-- end link -->

      <!-- link -->
      <a href="/login" class="mb-3 capitalize text-white font-medium text-sm hover:text-teal-600 transition ease-in-out duration-500">
        Login
      </a>
      <!-- end link -->

      <!-- link -->
      <a href="/signup" class="mb-3 capitalize text-white font-medium text-sm hover:text-teal-600 transition ease-in-out duration-500">
        Signup
      </a>
      <!-- end link -->
	  <!-- link -->
      <a href="/bookmarklet" class="mb-3 capitalize text-white font-medium text-sm hover:text-teal-600 transition ease-in-out duration-500">
        Bookmarklet
      </a>
      <!-- end link -->
    </div>
    <!-- end sidebar content -->

  </div>
  <!-- end sidbar -->

  <!-- strat content -->
  <div class="bg-gray-900 flex-1 p-6 dark:mt-16" style="margin-left: 250px;"> 

    
    <!-- General Report -->
    <div class="grid grid-cols-4 gap-6 xl:grid-cols-1">


    <!-- card -->
    <div class="report-card">
        <div class="card bg-blue-700">
            <div class="card-body flex flex-col">
                
                <!-- top -->
                <div class="flex flex-row justify-between items-center">
                    <div class="h6 text-white fas fa-link"></div>
                </div>
                <!-- end top -->

                <!-- bottom -->
                <div class="mt-8">
                    <h1 class="h5 num-4 text-white">$clicks</h1>
                    <p class="text-white">Clicks</p>
                </div>                
                <!-- end bottom -->
    
            </div>
        </div>
        <div class="footer bg-blue-800 p-1 mx-4 rounded rounded-t-none"></div>
    </div>
    <!-- end card -->


    <!-- card -->
    <div class="report-card">
        <div class="card bg-blue-700">
            <div class="card-body flex flex-col">
                
                <!-- top -->
                <div class="flex flex-row justify-between items-center">
                    <div class="h5 text-white fab fa-apple"></div>
                </div>
                <!-- end top -->

                <!-- bottom -->
                <div class="mt-8">
                    <h1 class="h5 num-4 text-white">$dev[10]</h1>
                    <p class=" text-white">Clicks from Apple</p>
                </div>                
                <!-- end bottom -->
    
            </div>
        </div>
        <div class="footer bg-blue-800 p-1 mx-4 rounded rounded-t-none"></div>
    </div>
    <!-- end card -->


    <!-- card -->
    <div class="report-card">
        <div class="card bg-blue-700">
            <div class="card-body flex flex-col">
                
                <!-- top -->
                <div class="flex flex-row justify-between items-center">
                    <div class="h5 text-white fab fa-windows"></div>
                </div>
                <!-- end top -->

                <!-- bottom -->
                <div class="mt-8">
					$ win = dev[8] + dev[9]
                    <h1 class="h5 num-4 text-white">$win</h1>
                    <p class=" text-white">Clicks from Windows</p>
                </div>                
                <!-- end bottom -->
    
            </div>
        </div>
        <div class="footer bg-blue-800 p-1 mx-4 rounded rounded-t-none"></div>
    </div>
    <!-- end card -->


    <!-- card -->
    <div class="report-card">
        <div class="card bg-blue-700">
            <div class="card-body flex flex-col">
                
                <!-- top -->
                <div class="flex flex-row justify-between items-center">
                    <div class="h5 text-white fab fa-linux"></div>
                </div>
                <!-- end top -->

                <!-- bottom -->
                <div class="mt-8">
                    <h1 class="h5 num-4 text-white">$dev[11]</h1>
                    <p class=" text-white">Clicks from Linux</p>
                </div>                
                <!-- end bottom -->
    
            </div>
        </div>
        <div class="footer bg-blue-800 p-1 mx-4 rounded rounded-t-none"></div>
    </div>
    <!-- end card -->
    

</div>
    <!-- End General Report -->

    <!-- strat Analytics -->
    <div class="mt-6 grid grid-cols-2 gap-6 xl:grid-cols-1">

    <!-- update section -->
    <div class="card bg-purple-600 shadow-dark text-white overflow-auto" style="height: 21rem;">
        <div class="card-body flex flex-row">

            <!-- info -->
            <div class="py-2 ml-10">
                <h1 class="h6">$s</h1>
                <p class="text-white lowercase" style="text-transform: lowercase !important;">$url</p><br>
				<form class="w-full max-w-sm" method="POST" name="shortwebform$s" action="/shortweb">
					<input type="hidden" value="$s" name="short">
  <div class="md:flex md:items-center mb-6">
				<div class="md:w-1/3">
      <label class="block text-white font-bold md:text-right mb-1 md:mb-0 pr-4">
        Discord Webhook URL
      </label>
    </div>
				<div class="md:w-2/3">
      <input class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500" id="inline-full-name" type="text" placeholder="Discord Webhook URL" name="webhook" value="$webhookurl">
    </div>
  </div>
  <button class="btn-bs-primary">Submit</button>
  </form>

  <br><br>
  <form class="w-full max-w-sm" method="POST" name="shortwebform$s" action="/namec">
					<input type="hidden" value="$s" name="short">
  <div class="md:flex md:items-center mb-6">
				<div class="md:w-1/3">
      <label class="block text-white font-bold md:text-right mb-1 md:mb-0 pr-4">
        URL Name
      </label>
    </div>
				<div class="md:w-2/3">
      <input class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500" id="inline-full-name" type="text" placeholder="Discord Webhook URL" name="name" value="$name">
    </div>
  </div>
  <button class="btn-bs-primary">Change</button>
  </form>

    <br><br>
  <form class="w-full max-w-sm" method="POST" name="shortwebform$s" action="/edit">
					<input type="hidden" value="$s" name="short">
  <div class="md:flex md:items-center mb-6">
				<div class="md:w-1/3">
      <label class="block text-white font-bold md:text-right mb-1 md:mb-0 pr-4">
        URL
      </label>
    </div>
				<div class="md:w-2/3">
      <input class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500" id="inline-full-name" type="url" placeholder="Discord Webhook URL" name="newurl" value="$url">
    </div>
  </div>
  <button class="btn-bs-primary">Change</button>
  </form>
            </div>
            <!-- end info -->

        </div>
    </div>
    <!-- end update section -->

    <!-- carts -->
    <div class="flex flex-col">

        <!-- charts -->
        <div class="grid grid-cols-2 gap-6 h-full">

            <div class="card bg-purple-600 text-white">
                <div class="py-3 px-4">
                    <h1 class="h6">
                        <span class="num-4"></span>Public View
                        <p>Share this data with others</p>
                    </h1><br>
					<script>
		function generate() {
			clicks = document.getElementById('clicks').checked
			table = document.getElementById('table').checked
			agents = document.getElementById('agents').checked
			times = document.getElementById('times').checked
			graph = document.getElementById('graph').checked
			clickval = ""
			tableval = ""
			agentsval = ""
			timesval = ""
			graphval = ""
			if (clicks) {
				clickval = "221"
			}
			if (table) {
				tableval = "324"
			}
			if (agents) {
				agentsval = "239"
			}
			if (times) {
				timesval = "692"
			}
			if (graph) {
				graphval = "734"
			}
			url = "https://sjurl.tk/info/" + "$s" + "/" + clickval + tableval + agentsval + timesval + graphval
			document.getElementById('link').value = url
		}
	</script>
					<input type='checkbox' id='clicks'></input>
<span>Show total clicks</span>
<br>
<input type='checkbox' id='table'></input>
<span>Show table overview</span>
<br>
<input type='checkbox' id='agents'></input>
<span>Show user agents</span>
<br>
<input type='checkbox' id='times'></input>
<span>Show times clicked</span>
<br>
<input type='checkbox' id='graph'></input>
<span>Show graph</span>
<br><br>
<button onclick="generate()" class="btn-bs-dark" style="margin-top: 3px;">Generate Link to share</button><br>
<input id='link' class="small bg-purple-600" value="" readonly>
                </div>                
            </div>

            <div class="card bg-purple-600 text-white">
                <div class="py-3 px-4">                    
                    <h1 class="h6">
                        <span class="num-2"></span>QR Code
                        <p></p>
                    </h1>
					<br>
					<img style="height: 100%" src='$qrcodeurl'>
                </div>
            </div>

        </div>     
        <!-- charts    -->

    </div>
    <!-- end charts -->


</div>
    <!-- end Analytics -->

    <br><br><br>
	<div class="">

    <!-- update section -->
    <div class="card bg-purple-600 shadow-dark text-white">
        <div class="card-body flex flex-row">

            <!-- info -->
            <div class="py-2 ml-10">
				<script>
						google.charts.load('current', {'packages':['corechart']});
				google.charts.setOnLoadCallback(drawChart);

				function drawChart() {
					var data = google.visualization.arrayToDataTable([
					['Date', 'Link Clicks'],
					$for xval in x:
						$ yval = y[x.index(xval)]
						['$xval',  Number('$yval')],
					]);

					var options = {
					colors: ['#1E40AF'],
					title: 'Link Clicks over Time',
					hAxis: {
						title: 'Date',  
						titleTextStyle: {
							color: '#fff'
						}, 
						textStyle: {
							color: '#fff'
						}
					},
					vAxis: {
						minValue: 0,
						textStyle: {
							color: '#fff'
						}
					},
					backgroundColor: '#805ad5',
					titleTextStyle: {
						color: '#fff'
					},
					'legend': {
						position: 'top-right', 
						textStyle: {
							color: 'white'
						}
					}
					};

					var chart = new google.visualization.AreaChart(document.getElementById('chart_div'));
					chart.draw(data, options);
				}
				</script>
				<div id="chart_div" style="width: 900px; height: 500px;"></div>
            </div>
        </div>
    </div>
	</div>
   
    <!-- start quick Info -->
    <div class="grid grid-cols-3 gap-6 mt-6 xl:grid-cols-1">


    <!-- Browser Stats -->
    <div class="card bg-blue-700 text-white">
        <div class="card-header">Browser Stats</div>

        <!-- brawser -->
        <div class="p-6 flex flex-row justify-between items-center text-gray-600 border-b">
            <div class="flex items-center">
                <i class="fab fa-chrome mr-4 text-white"></i>    
                <h1 class="text-white">google chrome</h1>
            </div>                
            <div class="text-white">
                <span class="num-2 text-white"></span>$dev[0]
            </div>
        </div>
        <!-- end brawser -->

        <!-- brawser -->
        <div class="p-6 flex flex-row justify-between items-center text-gray-600 border-b">
            <div class="flex items-center">
                <i class="fab fa-firefox mr-4 text-white"></i>    
                <h1 class="text-white">firefox</h1>
            </div>                
            <div class="text-white">
                <span class="num-2 text-white"></span>$dev[1]
            </div>
        </div>
        <!-- end brawser -->

        <!-- brawser -->
        <div class="p-6 flex flex-row justify-between items-center text-gray-600 border-b">
            <div class="flex items-center">
                <i class="fab fa-edge mr-4 text-white"></i>    
                <h1 class="text-white">edge</h1>
            </div>                
            <div class="text-white">
                <span class="num-2 text-white"></span>$dev[4]
            </div>
        </div>
        <!-- end brawser -->

        <!-- brawser -->
        <div class="p-6 flex flex-row justify-between items-center text-gray-600 border-b-0">
            <div class="flex items-center">
                <i class="fab fa-safari mr-4 text-white"></i>    
                <h1 class="text-white">safari</h1>
            </div>                
            <div class="text-white">
                <span class="num-2 text-white"></span>$dev[2]
            </div>
        </div>
        <!-- end brawser -->

    </div>
    <!-- end Browser Stats -->

    <!-- Start Recent Sales -->
    <div class="card col-span-2 xl:col-span-1 text-white bg-blue-700">
        <div class="card-header">Advanced</div>

        <table class="table-auto w-full text-left">
            <thead>
                <tr>
                    <th class="px-4 py-2 border-r">User Agent</th>
                </tr>
            </thead>
            <tbody class="text-gray-600">
				$for short in agent:
					<tr>                    
						<td class="border border-l-0 px-4 py-2 text-gray-300">$short</td>
					</tr>
            </tbody>
        </table>
    </div>
    <!-- End Recent Sales -->


</div>
    <!-- end quick Info -->
        

  </div>
  <!-- end content -->

</div>
<!-- end wrapper -->

<!-- script -->
<script src="/static/js/new.js"></script>
<!-- end script -->

</body>
</html>
