$def with (db, short, passw)
<!DOCTYPE html>
<html>
			<link rel="icon" 
      type="image/ico" 
      href="https://sjurl.repl.co/static/images/favicon.ico">

	<head>
		<link rel="stylesheet" href="https://minimalist.coolcodersj.repl.co/style.css">
		<title>URL Shortener -- Edit</title>
	</head>
	<style>
		html {
			margin-top: 110px;
		}
		</style>
	<head>
	<body style="margin-top: 25px; padding-left: 15px; padding-right: 15px;">
				<div class="topnav text">
		<a class="brand" href="#">SJURL</a>
		<div class="topnavitem">
		 <a class="topnavitem active" href="/">Home</a>
  <a class="topnavitem" href="/add">Add Link</a>
    <a class="topnavitem" href="/login">Login</a>
  <a class="topnavitem" href="/signup">Signup</a>
 
  </div>
</div> 
		<form method = "POST" action="https://sjurl.repl.co/edit">
			<input class="input" type="text" placeholder="Backend = $short" value="$short" name="short" readonly>
			<input class="input" type="url" placeholder="New URL here" name="newurl" required>
			<br>
			<button class="btn btn-primary" type="submit" value="submit">Edit this Backend</button>
		</form>
	</body>
</html>