$def with (db, user)
<!doctype html>
<html lang="en">
<head>
	<!-- PUT CODE BETWEEN <HEAD> TAGS -->
<meta name="theme-color" content="#000EF2">
<meta content="SJURL" property="og:title">
<meta name="og:site_name" content="">
<meta name="twitter:title" content="SJURL">
<meta name="description" content="Switch to SJURL today! We have no ads, and will remain free forever. SJURL is a URL shortening service that has numerous features, such as webhook integration, desktop app, tracking your links, discord bot, and much more... https://sjurl.tk/ Join today!">
<meta name="twitter:description" content="A free URL Shortening service that's better than Bitly, with its own discord bot.">
<meta name="twitter:image" content="">
<meta name="og:image" content="">
<meta content="A free URL Shortening service that's better than Bitly, with its own discord bot." property="og:description">
<link rel="alternate" type="application/json+oembed" href="https://embeds.ga/oembed/?name=Shuchir+Jain&url=https%3A%2F%2Fcoolcodersj.repl.co&providername=&providerurl=">
<!-- END OF CODE -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">  
  <link rel="shortcut icon" href="https://sjurl.tk/static/images/favicon.svg" type="image/x-icon">  
  <link rel="stylesheet" href="https://kit-pro.fontawesome.com/releases/v5.12.1/css/pro.min.css">
  <link rel="stylesheet" type="text/css" href="/static/css/new.css?yeetcache">  
  <title>SJURL</title>

  <style>
		#page {
			display: none;
		}	
		#spinner {
			display: block;
			position: fixed;
		}

		.url {
			width: 250px;
			height: 100px;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	</style>
	<script>
		function onReady(callback) {
  var intervalId = window.setInterval(function() {
    if (document.getElementsByTagName('body')[0] !== undefined) {
      window.clearInterval(intervalId);
      callback.call(this);
    }
  }, 1000);
}

function setVisible(selector, visible) {
  document.querySelector(selector).style.display = visible ? 'block' : 'none';
}

onReady(function() {
  setVisible('#page', true);
  setVisible('#spinner', false);
});
	</script>
	    <link href="https://fraileagercubase.coolcodersj.repl.co/spinkit.min.css" rel="stylesheet" type="text/css" />
		<center>
<div id="spinner" style="top: 45%; left: 45%; position: fixed;">
	  <div class="sk-grid sk-center" style="--sk-color: white; --sk-size: 70px;">
  <div class="sk-grid-cube"></div>
  <div class="sk-grid-cube"></div>
  <div class="sk-grid-cube"></div>
  <div class="sk-grid-cube"></div>
  <div class="sk-grid-cube"></div>
  <div class="sk-grid-cube"></div>
  <div class="sk-grid-cube"></div>
  <div class="sk-grid-cube"></div>
  <div class="sk-grid-cube"></div>
</div>
  </div>
  </center>
	<script>
function myFunction() {
  var input, filter, ul, li, i, txtValue;
  input = document.getElementById('myInput');
  filter = input.value.toUpperCase();
  li = document.getElementsByClassName('report-card');  
  for (i = 0; i < li.length; i++) {
    a = li[i].getElementsByClassName("backend")[0];
    txtValue = a.innerHTML;
    if (txtValue.toUpperCase().indexOf(filter) > -1) {
      li[i].style.display = "";
    } else {
      li[i].style.display = "none";
    }
  }
}
</script>
</head>
<body class="bg-gray-900">

<div id="page">

<!-- start navbar -->
<div class="dark:border-gray-800 dark:fixed dark:w-full dark:top-0 dark:z-20 flex flex-row flex-wrap items-center p-6 bg-gray-800" style="margin-left: 250px;"> 
    
    <!-- navbar content toggle -->
    <button id="navbarToggle" class="hidden dark:block dark:fixed right-0 mr-6">
      <i class="fad fa-chevron-double-down"></i>
    </button>
    <!-- end navbar content toggle -->

    <!-- navbar content -->
    <div id="navbar" class="animated dark:hidden dark:fixed dark:top-0 dark:w-full dark:left-0 dark:mt-16 dark:p-10 bg-gray-800 flex-1 pl-3 flex flex-row flex-wrap justify-between items-center dark:flex-col dark:items-center">
    </div>
    <!-- end navbar content -->

  </div>
<!-- end navbar -->


<!-- strat wrapper -->
<div class="h-screen flex flex-row flex-wrap">
  
    <!-- start sidebar -->
  <div id="sideBar" class="relative flex flex-col flex-wrap p-6 flex-none w-64 dark:-ml-64 dark:fixed dark:top-0 dark:z-30 dark:h-screen dark:shadow-xl animated faster" style="top: 0; bottom: 0; position: fixed; background: #262f3c;">
    

    <!-- sidebar content -->
    <div class="flex flex-col">

      <!-- sidebar toggle -->
      <div class="text-right hidden dark:block mb-4">
        <button id="sideBarHideBtn">
          <i class="fad fa-times-circle"></i>
        </button>
      </div>
      <!-- end sidebar toggle -->
	  <!-- logo -->
    <div class="flex-none w-56 flex flex-row items-center">
      <img src="https://sjurl.tk/static/images/favicon.svg" class="w-10 flex-none">
      <strong class="capitalize ml-1 flex-1 text-white">SJURL</strong>

      <button id="sliderBtn" class="flex-none text-right text-gray-900 hidden dark:block">
        <i class="fad fa-list-ul"></i>
      </button>
    </div>
    <!-- end logo -->  
      <!-- link -->
      <a href="/" class="mb-3 capitalize text-white font-medium text-sm hover:text-teal-600 transition ease-in-out duration-500" style="margin-top: 30px;">
        Home
      </a>
      <!-- end link -->
	  <!-- link -->
      <a href="/add" class="mb-3 capitalize text-white font-medium text-sm hover:text-teal-600 transition ease-in-out duration-500">
        add link
      </a>
      <!-- end link -->

      <!-- link -->
      <a href="/login" class="mb-3 capitalize text-white font-medium text-sm hover:text-teal-600 transition ease-in-out duration-500">
        Login
      </a>
      <!-- end link -->

      <!-- link -->
      <a href="/signup" class="mb-3 capitalize text-white font-medium text-sm hover:text-teal-600 transition ease-in-out duration-500">
        Signup
      </a>
      <!-- end link -->
	  <!-- link -->
      <a href="/bookmarklet" class="mb-3 capitalize text-white font-medium text-sm hover:text-teal-600 transition ease-in-out duration-500">
        Bookmarklet
      </a>
      <!-- end link -->
    </div>
    <!-- end sidebar content -->

  </div>
  <!-- end sidbar -->

  <!-- strat content -->
  <div class="bg-gray-900 flex-1 p-6 dark:mt-16" style="margin-left: 250px;">
$if len(db) != 0:
	<input class="shadow appearance-none rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="myInput" type="text" name="name" placeholder="Search..." onkeyup="myFunction()">
<br><br><br>
    
    <!-- General Report -->
    <div class="grid grid-cols-4 gap-6 xl:grid-cols-1">
	

	$if len(db) == 0:
		<div style="top: 30%; left: 40%; position: fixed; width: auto; height: auto; text-align: center;">
			<img style="width: 400px;" src="/static/assets/relax.svg">
			<center>
			<h2 class="text-white" style="text-transform: none !important;">You don't have any shortened URLs yet!<br>How 'bout shortening a link or two?</h2><br>
			<a href="/add"><button class="btn-bs-primary">Shorten a URL</button></a>
			</center>
		</div>
    $else:
		$for short in db:
			<!-- card -->
			<div class="report-card">
				<a href="/details/$short">
				<div class="card bg-blue-800 border-none text-white" style="text-transform: none !important;">
					<div class="card-body flex flex-col">
						
						<!-- top -->
						<div class="flex flex-row justify-between items-center">
							<div class="h6 text-blue-200 fas fa-link"></div>
						</div>
						<!-- end top -->

						<!-- bottom -->
						<div class="mt-8">
							<h1 class="h5 num-4 backend">$short</h1>
							<h3 class="lowercase">$db[short]['name']</h3>
							<p class="url" style="text-transform: none !important;">$db[short]['url']</p>
							<a href='/details/$short' ><button class="btn-bs-dark" style="width: 150px; margin-bottom: 5px;">See More</button></a>
							<form method="POST" action="delete">
								<input type="hidden" value="$short" name="short">
							<button class="btn-bs-danger" style="width: 150px;">Delete</button>
							</form>
						</div>                
						<!-- end bottom -->
			
					</div>
				</div>
				<div class="footer bg-blue-800 p-1 mx-4 border-t-0 rounded rounded-t-none"></div>
				</a>
			</div>
			<!-- end card -->

</div>
    <!-- end quick Info -->
        

  </div>
  <!-- end content -->

</div>
<!-- end wrapper -->

<!-- script -->
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script src="static/js/new.js"></script>
<!-- end script -->
</div>
</body>
</html>
