<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enter Password - Crinkle</title>
    <link rel="stylesheet" href="/static/assets/css/main/app.css">
    <link rel="stylesheet" href="/static/assets/css/pages/auth.css">
    <link rel="shortcut icon" href="/static/assets/images/logo/favicon.svg" type="image/x-icon">
    <link rel="shortcut icon" href="/static/assets/images/logo/favicon.png" type="image/png">
</head>

<body>
    <div id="auth">
        
<div class="row h-100">
    <div class="col-lg-5 col-12">
        <div id="auth-left">
            <div class="auth-logo">
                <a href="/"><img src="/static/assets/images/logo/logo.svg" alt="Logo"></a>
            </div>
            <h1 class="auth-title">Enter Password</h1>
            <p>This link is protected. Enter the password to continue.</p>
            <form action="/{{ data['shortkey'] }}/password" method="post">
                <div class="form-group position-relative has-icon-left mb-4">
                    <input name="password" type="password" class="form-control form-control-xl" placeholder="Password">
                    <div class="form-control-icon">
                        <i class="bi bi-shield-lock"></i>
                    </div>
                </div>
                <input type="hidden" name="time" value="{{ data['time'] }}">
                <input type="hidden" name="referrer" value="{{ data['referrer'] }}">
                <input type="hidden" name="browser" value="{{ data['browser'] }}">
                <input type="hidden" name="os" value="{{ data['os'] }}">
                <input type="hidden" name="device" value="{{ data['device'] }}">
                <input type="hidden" name="city" value="{{ data['city'] }}">
                <input type="hidden" name="state" value="{{ data['state'] }}">
                <input type="hidden" name="country" value="{{ data['country'] }}">
                <button class="btn btn-primary btn-block btn-lg shadow-lg mt-5">Continue</button>
            </form>
        </div>
    </div>
    <div class="col-lg-7 d-none d-lg-block">
        <div id="auth-right">

        </div>
    </div>
</div>

    </div>
</body>

</html>
