<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SJURL</title>
    <link href="https://fonts.googleapis.com/css?family=Heebo:400,700|IBM+Plex+Sans:600" rel="stylesheet">
    <link rel="stylesheet" href="/static/promo/css/style.css">
	  <link rel="stylesheet" href="https://kit-pro.fontawesome.com/releases/v5.12.1/css/pro.min.css">
  <link rel="shortcut icon" href="https://sjurl.tk/static/images/favicon.svg" type="image/x-icon">  
  			<link href="https://fonts.googleapis.com/icon?family=Material+Icons+Two+Tone"  rel="stylesheet">

<meta name="title" content="SJURL">
     <meta nsme="name" content="SJURL" property="og:site_name">
     <meta name="description" content="Collecting data while shortening URLs has never been easier. With over 200 members, 500+ links, and 10, 000+ link clicks, SJURL is the most feature-rich URL shortener you're ever going to find.">
	 <meta name="keywords" content="url, url shortening, sjurl, SJURL, shorten, bitly, tinyurl, short, url short, short url">


    <script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>
</head>
<body class="is-boxed has-animations">
    <div class="body-wrap boxed-container" style="width: 100%; max-width: 100%; margin: 0;">
        <header class="site-header">
            <div class="container">
                <div class="site-header-inner">
                    <div class="brand header-brand">
                        <h1 class="m-0">
                            <a href="#">
								<img class="header-logo-image asset-dark" src="https://sjurl.tk/static/images/favicon.svg?y" alt="Logo" style="width: 40px; border-radius: 8px;">
                            </a>
                        </h1>
                    </div>
                </div>
            </div>
        </header>

        <main>
            <section class="hero">
                <div class="container">
                    <div class="hero-inner">
						<div class="hero-copy">
	                        <h1 class="hero-title mt-0">SJURL</h1>
	                        <p class="hero-paragraph">One place to shorten your links, view analytic data, and share your data with others. Free, forever.</p>
							<style>
								.button {
									border-radius: 8px;
								}
								img {
									border-radius: 8px;
								}
							</style>
	                        <div class="hero-cta" style="margin-bottom: 7px !important;">
								<a class="button button-primary" href="/signup" style="width: 100px;">Get Started</a>
	                        </div>
							<div class="hero-cta" style="margin-bottom: 7px !important;">
								<a class="button button-link" href="/login" style="width: 100px;">Login</a>
							</div>
							<div class="hero-cta">
								<a class="button button-link" href="https://github.com/CoolCoderSJ/SJURL" style="width: 100px;">View on GitHub</a>
							</div>
							<div class="hero-cta">
							</div>
						</div>
						<div class="hero-media">
							<div class="header-illustration">
								<img class="header-illustration-image asset-light" src="/static/promo/images/header-illustration-light.svg" alt="Header illustration">
								<img class="header-illustration-image asset-dark" src="/static/promo/images/header-illustration-dark.svg" alt="Header illustration">
							</div>
							<div class="hero-media-illustration">
								<img class="hero-media-illustration-image asset-light" src="/static/promo/images/hero-media-illustration-light.svg" alt="Hero media illustration">
								<img class="hero-media-illustration-image asset-dark" src="/static/promo/images/hero-media-illustration-dark.svg" alt="Hero media illustration">
							</div>
							<div class="hero-media-container">
								<img class="hero-media-image asset-light" src="/static/promo/images/hero-media-light.svg" alt="Hero media">
								<img class="hero-media-image asset-dark" src="/static/promo/images/hero-media-dark.svg" alt="Hero media" style="width: 700px;">
							</div>
						</div>
                    </div>
                </div>
            </section>

            <section class="features section">
                <div class="container">
					<div class="features-inner section-inner has-bottom-divider">
						<div class="features-header text-center">
							<div class="container-sm">
								<h2 class="section-title mt-0">URL Shortening Made Easy</h2>
	                            <p class="section-paragraph">Collecting data while shortening URLs has never been easier.</p>
								<div class="features-image">
									<img class="features-illustration asset-dark" src="/static/promo/images/features-illustration-dark.svg" alt="Feature illustration">
									<img class="features-box asset-dark" src="/static/promo/images/features-box-dark.svg" alt="Feature box">
									<img class="features-illustration asset-light" src="/static/promo/images/features-illustration-light.svg" alt="Feature illustration">
									<img class="features-box asset-light" src="/static/promo/images/features-box-light.svg" alt="Feature box">
									<img class="features-illustration asset-light" src="/static/promo/images/features-illustration-top-light.svg" alt="Feature illustration top">
								</div>
							</div>
                        </div>
						<style>
							.hide {
								max-height: 450px;
								overflow: hidden;
								transition: 700ms;
							}
							.show {
								max-height: 2400px;
								transition: 700ms;
							}
						</style>
                        <div class="features-wrap hide">
                            <div class="feature is-revealing">
                                <div class="feature-inner">
                                    <div class="feature-icon">
										<i class="fad fa-analytics fa-2x"></i>
                                    </div>
									<div class="feature-content">
                                    	<h3 class="feature-title mt-0">Detailed Analytics</h3>
                                    	<p class="text-sm mb-0">SJURL collects total clicks, clicks per Operating System, per browser, time clicked, and the user agent collected.</p>
									</div>
								</div>
                            </div>
							<div class="feature is-revealing">
                                <div class="feature-inner">
                                    <div class="feature-icon">
										<i class="fad fa-lock-alt fa-2x"></i>
                                    </div>
									<div class="feature-content">
                                    	<h3 class="feature-title mt-0">SafeBrowsing by Google</h3>
                                    	<p class="text-sm mb-0">Powered by the SafeBrowsing API by Google, SJURL warns you when visiting malicious links.</p>
									</div>
								</div>
                            </div>
							<div class="feature is-revealing">
                                <div class="feature-inner">
                                    <div class="feature-icon">
										<i class="fab fa-js-square fa-2x"></i>
                                    </div>
									<div class="feature-content">
                                    	<h3 class="feature-title mt-0">Bookmarklet</h3>
                                    	<p class="text-sm mb-0">SJURL has a helpful bookmarklet to help you shorten URLs in under 5 seconds. That's called true speed.</p>
									</div>
								</div>
                            </div>
							<div class="feature is-revealing">
                                <div class="feature-inner">
                                    <div class="feature-icon">
										<i class="fad fa-link fa-2x"></i>
                                    </div>
									<div class="feature-content">
                                    	<h3 class="feature-title mt-0">Web Parameter Passing</h3>
                                    	<p class="text-sm mb-0">Any URL parameter such as /login, or ?id=aaaaa can be passed through the shortened URL too!</p>
									</div>
								</div>
                            </div>
							<div class="feature is-revealing">
                                <div class="feature-inner">
                                    <div class="feature-icon">
										<i class="fad fa-laptop fa-2x"></i>
                                    </div>
									<div class="feature-content">
                                    	<h3 class="feature-title mt-0">Custom Backend</h3>
                                    	<p class="text-sm mb-0">With SJURL, you can enter a custom backend, or have it generate one. If its out of ideas, it will automatically increas the backend length. </p>
									</div>
								</div>
                            </div>
							<div class="feature is-revealing">
                                <div class="feature-inner">
                                    <div class="feature-icon">
										<i class="fad fa-pencil-alt fa-2x"></i>
                                    </div>
									<div class="feature-content">
                                    	<h3 class="feature-title mt-0">Name your Links</h3>
                                    	<p class="text-sm mb-0">Name each link so you know exactly what its for. </p>
									</div>
								</div>
                            </div>
							<div class="feature is-revealing">
								<style>
									.fad {
										color: #7c85e1;
									}
								</style>
                                <div class="feature-inner">
                                    <div class="feature-icon">
										<i class="fad fa-ad fa-2x" style="color: #7c85e1"></i>
                                    </div>
									<div class="feature-content">
                                    	<h3 class="feature-title mt-0">No Ads</h3>
                                    	<p class="text-sm mb-0">SJURL will never have advertisements. Ever.</p>
									</div>
								</div>
                            </div>
							<div class="feature is-revealing">
                                <div class="feature-inner">
                                    <div class="feature-icon">
										<i class="fad fa-search fa-2x"></i>
                                    </div>
									<div class="feature-content">
                                    	<h3 class="feature-title mt-0">Search URLs</h3>
                                    	<p class="text-sm mb-0">We've all been there, there are so many URLs that you don't know where to look. Instead of doing messy keyboard shortcuts, you can search for URLs and SJURL will filter your links as you type. </p>
									</div>
								</div>
                            </div>
							<div class="feature is-revealing">
                                <div class="feature-inner">
                                    <div class="feature-icon">
										<i class="fad fa-qrcode fa-2x"></i>
                                    </div>
									<div class="feature-content">
                                    	<h3 class="feature-title mt-0">QR Codes</h3>
                                    	<p class="text-sm mb-0">Sometimes, you just gotta show it to them. For free, SJURL auto generates QR Codes for your links. </p>
									</div>
								</div>
                            </div>
							<div class="feature is-revealing">
                                <div class="feature-inner">
                                    <div class="feature-icon">
										<i class="fab fa-discord fa-2x"></i>
                                    </div>
									<div class="feature-content">
                                    	<h3 class="feature-title mt-0">Discord Webhooks</h3>
                                    	<p class="text-sm mb-0">Send a message automatically to Discord whenever your link is clicked so you know when your colleague has clicked that super important link. </p>
									</div>
								</div>
                            </div>
							<div class="feature is-revealing">
                                <div class="feature-inner">
                                    <div class="feature-icon">
										<i class="fad fa-edit fa-2x"></i>
                                    </div>
									<div class="feature-content">
                                    	<h3 class="feature-title mt-0">Edit Links</h3>
                                    	<p class="text-sm mb-0">But wait! You entered the wrong URL! No need to worry, SJURL will let you edit your links! </p>
									</div>
								</div>
                            </div>
							<div class="feature is-revealing">
                                <div class="feature-inner">
                                    <div class="feature-icon">
										<i class="fad fa-trash-alt fa-2x"></i>
                                    </div>
									<div class="feature-content">
                                    	<h3 class="feature-title mt-0">Delete Links</h3>
                                    	<p class="text-sm mb-0">Have a link that you know is never going to be used again? Delete it! </p>
									</div>
								</div>
                            </div>
							<div class="feature is-revealing">
                                <div class="feature-inner">
                                    <div class="feature-icon">
										<i class="fad fa-chart-line fa-2x"></i>
                                    </div>
									<div class="feature-content">
                                    	<h3 class="feature-title mt-0">Graphs</h3>
                                    	<p class="text-sm mb-0">To see a pretty overview of your clicks, SJURL auto generates a graph for your clicks over time.</p>
									</div>
								</div>
                            </div>
							<div class="feature is-revealing">
                                <div class="feature-inner">
                                    <div class="feature-icon">
										<i class="fad fa-eye fa-2x"></i>
                                    </div>
									<div class="feature-content">
                                    	<h3 class="feature-title mt-0">Sneak Peeks</h3>
                                    	<p class="text-sm mb-0">Wanna see where a link takes you? Add a + at the end of a shortened link to see shortened link metadata.</p>
									</div>
								</div>
                            </div>
                        </div>

						<br><br>
						<script>
							function toggle_features() {
								features = document.getElementsByClassName("features-wrap")[0];
								if (features.id === "moree") {
									features.setAttribute("class", "features-wrap hide");
									document.getElementById("mol").innerHTML = 'Show More';
									features.setAttribute("id", 'less')
								}
								else {
									features.setAttribute("class", "features-wrap show");
									document.getElementById("mol").innerHTML = 'Show Less';
									features.setAttribute("id", 'moree')
								}
							}
						</script>
						<center>
						<button class="button button-primary" onclick="toggle_features()"><div id="mol" style="margin-top: 0px; float: left;">Show More</div></button>
						</center>
                    </div>
                </div>
            </section>

			<section class="cta section">
                <div class="container-sm">
                    <div class="cta-inner section-inner">
                        <div class="cta-header text-center">
                            <h2 class="section-title mt-0">Start Using SJURL Today</h2>
                            <p class="section-paragraph">With over 200 members, over 500 links, and over 10, 000 link clicks, SJURL is the fastest growing URL Shortener.</p>
							<div class="cta-cta">
								<a class="button button-primary" href="/signup">Get Started</a>
							</div>
					    </div>
                    </div>
                </div>
            </section>
        </main>

        <footer class="site-footer has-top-divider">
            <div class="container">
                <div class="site-footer-inner">
                    <ul class="footer-links list-reset">
                        <li>
                            <a href="/login">Login</a>
                        </li>
                        <li>
                            <a href="/signup">Signup</a>
                        </li>
                        <li>
                            <a href="https://github.com/CoolCoderSJ/SJURL">Github</a>
                        </li>
                        <li>
                            <a href="/demo">Demo</a>
                        </li>
                    </ul>
                    <div class="footer-copyright">&copy; 2020-2021 SJURL. All rights reserved</div>
                </div>
            </div>
        </footer>
    </div>

    <script src="/static/promo/js/main.min.js"></script>
</body>
</html>
