$def with (qrcode)
<div class="topnav text">
		<a class="brand" href="#">SJURL</a>
		<div class="topnavitem">
		 <a class="topnavitem active" href="/">Home</a>
  <a class="topnavitem" href="/add">Add Link</a>
    <a class="topnavitem" href="/login">Login</a>
  <a class="topnavitem" href="/signup">Signup</a>
 
  </div>
</div> 
		<link rel="icon" 
      type="image/ico" 
      href="https://sjurl.tk/static/images/favicon.ico">
<link rel="stylesheet" href="https://minimalist.coolcodersj.repl.co/style.css">
		<link href="https://sjurl.repl.co/static/css/style.css" rel="stylesheet" type="text/css"> 
		<title>URL Shortener</title>

$ qrcodepath = qrcode+".png"
<img src="https://sjurl.repl.co/static/images/qr/$qrcodepath">

<button class="btn btn-primary" onclick="window.open('https://sjurl.repl.co/static/images/qr/$qrcodepath')">Download</button>