<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Settings - Crinkle</title>
    
    <link rel="stylesheet" href="/static/assets/css/main/app.css">
    <link rel="stylesheet" href="/static/assets/css/main/app-dark.css">
    <link rel="shortcut icon" href="/static/assets/images/logo/favicon.svg" type="image/x-icon">
    <link rel="shortcut icon" href="/static/assets/images/logo/favicon.png" type="image/png">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet">
    
    <link rel="stylesheet" href="/static/assets/css/shared/iconly.css">
    <link rel="stylesheet" href="/static/user.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</head>

<body>
    <div id="app">
        <div id="sidebar" class="active">
            <div class="sidebar-wrapper active">
    <div class="sidebar-header position-relative">
        <div class="d-flex justify-content-between align-items-center">
            <div class="logo">
                <a href="/"><img src="/static/assets/images/logo/logo.svg" alt="Logo" srcset=""></a>
            </div>
            <div class="theme-toggle d-flex gap-2  align-items-center mt-2">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--system-uicons" width="20" height="20" preserveAspectRatio="xMidYMid meet" viewBox="0 0 21 21"><g fill="none" fill-rule="evenodd" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"><path d="M10.5 14.5c2.219 0 4-1.763 4-3.982a4.003 4.003 0 0 0-4-4.018c-2.219 0-4 1.781-4 4c0 2.219 1.781 4 4 4zM4.136 4.136L5.55 5.55m9.9 9.9l1.414 1.414M1.5 10.5h2m14 0h2M4.135 16.863L5.55 15.45m9.899-9.9l1.414-1.415M10.5 19.5v-2m0-14v-2" opacity=".3"></path><g transform="translate(-210 -1)"><path d="M220.5 2.5v2m6.5.5l-1.5 1.5"></path><circle cx="220.5" cy="11.5" r="4"></circle><path d="m214 5l1.5 1.5m5 14v-2m6.5-.5l-1.5-1.5M214 18l1.5-1.5m-4-5h2m14 0h2"></path></g></g></svg>
                <div class="form-check form-switch fs-6">
                    <input class="form-check-input  me-0" type="checkbox" id="toggle-dark" >
                    <label class="form-check-label" ></label>
                </div>
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--mdi" width="20" height="20" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path fill="currentColor" d="m17.75 4.09l-2.53 1.94l.91 3.06l-2.63-1.81l-2.63 1.81l.91-3.06l-2.53-1.94L12.44 4l1.06-3l1.06 3l3.19.09m3.5 6.91l-1.64 1.25l.59 1.98l-1.7-1.17l-1.7 1.17l.59-1.98L15.75 11l2.06-.05L18.5 9l.69 1.95l2.06.05m-2.28 4.95c.83-.08 1.72 1.1 1.19 1.85c-.32.45-.66.87-1.08 1.27C15.17 23 8.84 23 4.94 19.07c-3.91-3.9-3.91-10.24 0-14.14c.4-.4.82-.76 1.27-1.08c.75-.53 1.93.36 1.85 1.19c-.27 2.86.69 5.83 2.89 8.02a9.96 9.96 0 0 0 8.02 2.89m-1.64 2.02a12.08 12.08 0 0 1-7.8-3.47c-2.17-2.19-3.33-5-3.49-7.82c-2.81 3.14-2.7 7.96.31 10.98c3.02 3.01 7.84 3.12 10.98.31Z"></path></svg>
            </div>
            <div class="sidebar-toggler  x">
                <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
            </div>
        </div>
    </div>
    <div class="sidebar-menu">
        <ul class="menu">       
            <li class="sidebar-item ">
                <a href="/" class="sidebar-link"><i class="bi bi-house"></i> <span>Home</span></a>
            </li>
            <li class="sidebar-item ">
                <a href="/logout" class="sidebar-link"><i class="bi bi-box-arrow-left"></i> <span>Logout</span></a>
            </li>

        </ul>
    </div>
</div>
        </div>
        <div id="main">
            <header class="mb-3">
                <a href="#" class="burger-btn d-block d-xl-none">
                    <i class="bi bi-justify fs-3"></i>
                </a>
            </header>
            

{% with messages = get_flashed_messages()%}
{% if messages%}
{% for message in messages%}
<div class="alert alert-danger alert-dismissible show fade">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
{%endfor%}
{%endif%}
{%endwith%}
<div class="page-content">
    <section class="row">
        <div>
            <div class="row">
                <h3>User Info</h3>
                <div style="margin-bottom: 50px;">
                    <div class="form-group">
                      <form method="post" action="/user/update/username">
                            <p class="font-bold">Username</p>
                            <div style="display: flex; align-items: center; gap: 20px; margin-top: 0;"><input type="text" class="form-control mt-0" name="username" placeholder="Username" value="{{ username }}" required><button type="submit" class="btn btn-primary mt-0 mb-2">Save</button></div>
                      </form>
                    </div>
                    <br>
                    <h4>Update Password</h4>
                    <div class="form-group">
                        <form method="post" action="/user/update/password">
                              <p class="font-bold mb-0">Old Password</p>
                              <input type="password" class="form-control mt-0 mb-2" name="old_password" placeholder="Old Password" required>
                              <p class="font-bold mb-0">New Password</p>
                              <input type="password" class="form-control mt-0 mb-2" name="new_password" placeholder="New Password" required>
                              <button type="submit" class="btn btn-primary mb-2 mt-2">Update</button>
                        </form>
                    </div>
                </div>
                
                <h3>Domains</h3>
                <div>
                    <div class="form-group">
                      <form method="post" action="/domain/add">
                            <p>Don't enter the protocol (http/https).</p>
                            <div style="display: flex; align-items: center; gap: 20px;"><input type="text" class="form-control" name="domain" placeholder="Domain name (e.g. example.com)" required><button type="submit" class="btn btn-primary mt-2 mb-2">Connect</button></div>
                      </form>
                    </div>
                </div>
                    <br>
                    {% for domain in unverified_domains %}
                    <div class="card mt-2">
                        <div class="card-header">
                            <h4>{{ domain['domain'] }}</h4>
                        </div>
                        <div class="card-body">
                            <p>Add the following DNS records to your domain then click Verify when you're done.</p>
                            <div class="table-responsive">
                                <table class="table table-hover table-lg">
                                    <thead>
                                        <tr>
                                            <th>DNS Record Type</th>
                                            <th>DNS Record Value</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="col-3">
                                                <div class="d-flex align-items-center">
                                                    <p class="font-bold ms-3 mb-0">A</p>
                                                </div>
                                            </td>
                                            <td class="col-auto">
                                                <p class="mb-0"><span>132.145.139.96</span> <i class="fa-solid fa-copy" style="cursor: pointer" onclick="copylink(`132.145.139.96`);"></i></p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="col-3">
                                                <div class="d-flex align-items-center">
                                                    <p class="font-bold ms-3 mb-0">TXT</p>
                                                </div>
                                            </td>
                                            <td class="col-auto">
                                                <p class="mb-0"><span>crinkle-domain-verification-{{ domain['code'] }}</span> <i class="fa-solid fa-copy" style="cursor: pointer" onclick="copylink(`crinkle-domain-verification-{{ domain['code'] }}`);"></i></p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div style="display: flex; gap: 10px; align-items: center;">
                                <form method="post" action="/domain/verify">
                                    <input type="hidden" name="domain" value="{{ domain['domain'] }}">
                                    <button type="submit" class="btn btn-primary">Verify</button>
                                </form>
                                <form method="post" action="/domain/delete/verificationCodes">
                                    <input type="hidden" name="domain" value="{{ domain['domain'] }}">
                                    <button type="submit" class="btn btn-danger">Remove</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                    {% for domain in verified_domains %}
                    <div class="card mt-2">
                        <div class="card-header">
                            <h4>{{ domain['domain'] }}</h4>
                        </div>
                        <div class="card-body">
                            <p style="color: green"><i class="fa-regular fa-circle-check"></i> Connected</p>
                            <div style="display: flex; gap: 10px; align-items: center;">
                                <form method="post" action="/domain/delete/domains">
                                    <input type="hidden" name="domain" value="{{ domain['domain'] }}">
                                    <button type="submit" class="btn btn-danger">Remove</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
</div>

            <footer>
                <div class="footer clearfix mb-0 text-muted">
                    <div class="float-start">
                        <p>Design &copy; Mazer - 2021</p>
                    </div>
                    <div class="float-end">
                        <p>Crinkle &copy; Shuchir Jain - 2023</p>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="/static/assets/js/bootstrap.js"></script>
    <script src="/static/assets/js/app.js"></script>
    
<!-- Need: Apexcharts -->
<script src="/static/assets/extensions/apexcharts/apexcharts.min.js"></script>
<script src="/static/assets/js/pages/dashboard.js"></script>
<style>.colored-toast.swal2-icon-success {
    background-color: #a5dc86 !important;
  }
  
  .colored-toast.swal2-icon-error {
    background-color: #f27474 !important;
  }
  
  .colored-toast.swal2-icon-warning {
    background-color: #f8bb86 !important;
  }
  
  .colored-toast.swal2-icon-info {
    background-color: #3fc3ee !important;
  }
  
  .colored-toast.swal2-icon-question {
    background-color: #87adbd !important;
  }
  
  .colored-toast .swal2-title {
    color: white;
  }
  
  .colored-toast .swal2-close {
    color: white;
  }
  
  .colored-toast .swal2-html-container {
    color: white;
  }</style>
<script>
    function copylink (url) {
        navigator.clipboard.writeText(url);
        const Toast = Swal.mixin({
        toast: true,
        position: 'top-right',
        iconColor: 'white',
        customClass: {
            popup: 'colored-toast'
        },
        showConfirmButton: false,
        timer: 1500,
        timerProgressBar: true
        })
        Toast.fire({
        icon: 'success',
        title: 'Copied to clipboard'
        })
    }
</script>
</body>

</html>
